@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

:root {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

main {
  padding: 20px;
  margin: 20px;
  background-color: #e5f3ff;
  border-radius: 0.5rem;
}

div#output {
  width: 300px;
  height: 150px;
  border: 1px solid #666;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 10px;
}
